# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
venv/

# Firebase
serviceAccountKey.json
.firebase/

# IDE files
.vscode/
.DS_Store

# Build artifacts
/build
/dist

# Docker
.dockerignore

# Misc
*.log
temp/
tmp/